// Colors
$grey: #333333;
$light_grey: rgba(245, 245, 245, 0.57);
$light_border: #d8d8d8;

// Text colors
$subtle_text: rgba(51, 51, 51, 0.85);
$faded_text: #9e9e9e;

// Shadows
$light_shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
