.task-list {
  border-bottom: 1px solid $light_border;
  border-top: 1px solid $light_border;
  cursor: pointer;
  padding: 20px 20px;

  .empty{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    color: $faded_text;
  }

  .task-output {
    color: $grey;
    font-size: 1em;
    padding-left: 12px;
  }

  .time-output {
    color: $faded_text;
    font-size: .8em;
    padding-left: 10px;
  }

  label {
    padding-top: 4px;
  }

}
